.bday,
.life-math {
  margin-bottom: 1rem;
}

.bday {
  padding: 1rem;
  background-color: var(--color-white-50);
}
.dark .bday {
  background-color: var(--color-black-50);
}

input {
  background-color: transparent;
  border: none;
  color: inherit;
}

canvas {
  display: block;
  width: 100%;
  object-fit: contain;
}
