html,
body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
}

html {
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    background-image: url(../images/natural-white.webp);
    background-color: #ebe8e7;
    background-position: 0px 0px;
    color: #283739;
}

body {
    display: flex;
    justify-content: center;
    padding: 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 0 1rem;
}

h1 {
    font-size: 1.8em;
}

p {
    font: 1.1em/1.3em Times, serif;
}

a {
    color: #ebe8e7;
    text-decoration: none;
}
a:hover,
a:visited:hover {
    color: gray;
}
a:active,
a:visited:active {
    color: #091015;
}
a:visited {
    color: #2c5d63;
}

main a:hover {
    text-decoration: underline;
}

.wrapper {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'header'
        'content'
        'footer';
}

.wrapper header {
    grid-area: header;
}

.wrapper main {
    position: relative;
    grid-area: content;
    min-width: 60vw;
    flex: 50vw 0 auto;
}

.wrapper footer {
    grid-area: footer;
    font-size: 0.8em;
}

/* DARK MODE STYLING */
html.dark {
    color: #ebe8e7;
    background-image: url(../images/natural-black.webp);
    background-color: #091015;
}

html.dark a {
    color: gray;
    text-decoration: none;
}
html.dark a:hover,
html.dark a:visited:hover {
    color: silver;
}
html.dark a:active,
html.dark a:visited:active {
    color: #ebe8e7;
}
html.dark a:visited {
    color: #a2c11c;
}

html.dark h1,
html.dark h2,
html.dark h3,
html.dark h4,
html.dark h5,
html.dark h6 {
    color:  #2c5d63;
}

@media (width >=50em) {
    .wrapper main {
        max-width: 50vw;
    }
}
