---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";

export async function getStaticPaths() {
    const allPosts = await getCollection("posts", ({ data }) => {
        // Show drafts only in development mode
        return import.meta.env.DEV || !data.draft;
    });
    const uniqueTags = [
        ...new Set(allPosts.map((post) => post.data.tags).flat()),
    ];

    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post) =>
            post.data.tags.includes(tag),
        );
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const title = "blog tag: " + tag;
---

<BaseLayout title={title}>
    <p>Posts about <em>{tag}</em>:</p>
    <ul>
        {
            posts.map((post) => (
                <li>
                    <a href={`/posts/${post.slug}/`}>{post.data.title}</a>
                </li>
            ))
        }
    </ul>
</BaseLayout>
