---
import ErrorLayout from "../layouts/ErrorLayout.astro";
---

<ErrorLayout title="404">
    <p>
        Yikes, well this is awkward... <a href="/" title="home"
            >maybe try going back to the homepage</a
        >?
    </p>
</ErrorLayout>
