---
import BaseLayout from "@layouts/BaseLayout.astro";
import "@styles/cal.css";
---

<script src="../scripts/cal.js"></script>

<BaseLayout title="calendar of life">
    <div class="bday">
        <label for="bday"><strong>Enter your birthday</strong>:</label>
        <input
            type="date"
            value="2000-01-01"
            min="1924-01-01"
            max="2020-01-01"
        />
    </div>

    <h3>Result</h3>
    <p class="life-math">Eyyy world.</p>

    <canvas></canvas>
</BaseLayout>
