---
import BaseLayout from "@layouts/BaseLayout.astro";
const title = "experimental odds and ends";
---

<BaseLayout title={title}>
  <ul>
    <li><a href="experiments/cal-of-life">cal of life</a></li>
    <li><a href="experiments/our-hours">our hours</a></li>
    <li><a href="experiments/schu-fu">Schu-Fu</a></li>
  </ul>
</BaseLayout>
