---
import BaseLayout from "@layouts/BaseLayout.astro";
const title = "a bit about me";
---

<BaseLayout title={title}>
    <p>
        Hey. I'm Jesse- nice to meet you! I'm a cloud engineer and web developer
        with a love for all things tech. My journey started with a passion for
        graphic design, but everything changed when I discovered javascript.
        From that point on, I was hooked, diving headfirst into the world of
        coding and web development.
    </p>
    <p>
        I've spent over a decade exploring and mastering various aspects of the
        tech world, but when I'm not knee-deep in code, you can find me jamming
        out on my guitar and drums. Music is a huge part of my life, and I love
        the technical challenge and creative outlet it provides. I'm also an
        avid hiker and kettlebell enthusiast - there's nothing like a good hike
        or workout to clear the mind and keep the body in check.
    </p>
    <p>
        I love connecting with fellow tech enthusiasts, musicians, and fitness
        buffs. Whether you're here to talk tech, share music tips, or discuss
        the best hiking trails, I'm all ears. Thanks for stopping by!
    </p>
    <p>
        If you're bored, you could <a
            href="cal-of-life"
            title="calendar of life">go play with my calendar of life</a
        >!
    </p>
</BaseLayout>
