---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="home">
    <p>My name is Jesse. And this is all I can bring myself to put on this page for now :\</p>
    <a href="cal-of-life" title="calendar of life">check out my calendar of life if you want. I think it's pretty neat.</a>
</BaseLayout>