<style>
    .logo {
        display: inline-block;
        font-weight: 700;
        text-decoration: none;
        padding: 1rem;
        margin-top: 1rem;
    }

    .navigation ol {
        margin-top: 1rem;
        padding-left: 1.5rem;
    }
</style>

<header>
  <a href="/" title="go home I guess" class="logo">
    ¯\_(ツ)_/¯ jessedupuy.me
  </a>

  <nav class="navigation">
    <ol>
      <li><a title="about" href="/about">about</a></li>
      <li><a title="blog" href="/blog">blog</a></li>
      <li><a title="calendar of life" href="/cal-of-life">calendar of life</a></li>
    </ol>
  </nav>
</header>
