---
import ThemeIcon from "./ThemeIcon.astro";
---

<style>
    .logo {
        display: inline-block;
        font-weight: 700;
        text-decoration: none;
        padding: 1rem;
        margin-top: 1rem;
        color: inherit;
    }

    header {
        margin-bottom: 4rem;
    }
    nav {
        margin-top: 1rem;
    }
    nav ol {
        margin: 0;
        padding: 0;
    }
    nav li {
        display: inline-block;
        margin: 0;
    }
    nav a {
        padding: 0.5rem 1rem;
        border-radius: 0.2rem;
        background-color: white;
        transition: background-color 0.2s ease;
    }
    nav a:hover {
        background-color: #eee;
    }
</style>

<header>
    <a href="/" title="return to the homepage" class="logo">
        jessedupuy.me ¯\_(ツ)_/¯
    </a>

    <ThemeIcon />

    <nav class="navigation">
        <ol>
            <li><a title="go back home" href="/">home</a></li>
            <li><a title="read my blog" href="/blog">blog</a></li>
            <li>
                <a title="play with the calendar of life" href="/cal-of-life"
                    >calendar of life</a
                >
            </li>
        </ol>
    </nav>
</header>
