---
import HtmlHead from "@components/HtmlHead.astro";
import BaseHeader from "@components/BaseHeader.astro";
import Footer from "@components/Footer.astro";
import "@styles/core.css";

const { title } = Astro.props;
const desc = "Error encountered, please return to the homepage";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <HtmlHead {title} {desc} />
    </head>
    <body>
        <div class="wrapper">
            <BaseHeader {title} />
            <main>
                <h1>{title}</h1>

                <slot />
            </main>
            <Footer />
        </div>
    </body>
</html>
